h2 {
    color:darkblue;
}

#AboutTitle {
    color:blueviolet;
}

header {
   background-color: lightskyblue;
    height: 150px;
}
nav {
  background-color: aliceblue;
    height: 100%px;
}
section {
   background-color: aliceblue;
    height: 200px;
}
main {
  background-color: aliceblue;
  height: 300%px;
}
footer {
  background-color: lightskyblue;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}